<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/profile.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="topnav">
      <a href="/templates/index.html" class="active">Treasure Hunt</a>
      <div id="myLinks">
        <a href="/templates/index.html">Home</a>
        {% if session.user_id %}
          {% if session.user_id == admin %}
            <a href="{{ url_for('admin') }}">Admin Dashboard</a>
          {% endif %}
          <a href="{{ url_for('profile') }}">My Account</a>
        {% else %}
          <a href="/templates/login.html">Login/Register</a>
        {% endif %}
        <a href="{{ url_for('leaderboard')}}">Leaderboard</a>
        <a href="#about">About</a>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </nav>
  <div class="container">
    <h1>Admin Dashboard</h1>
    <h2>User Information</h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Treasures Found</th>
          <th>Dead Ends Encountered</th>
          <th>Accuracy</th>
          <th>Total Time</th>
        </tr>
        {% if users %}
          {% for data in users %}
          <tr>
            <td>{{data['username']}}</td>
            <td>{{data['email']}}</td>
            <td>{{data['treasure']}}</td>
            <td>{{data['deadend']}}</td>
            {% if data['treasure'] %}
              <td>{{((data['treasure']-data['deadend'])/data['treasure'])*100}}%</td>
            {% else %}
              <td>0%</td>
            {% endif %}
            <td>{{data['totaltime']}}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </thead>
      <tbody id="users-table">
      </tbody>
    </table>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>
