<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/profile.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="topnav">
          <a href="/templates/index.html" class="active">Treasure Hunt</a>
          <div id="myLinks">
            <a href="/templates/index.html">Home</a>
            {% if session.user_id %}
              {% if session.user_id == admin %}
                <a href="{{ url_for('admin') }}">Admin Dashboard</a>
              {% endif %}
              <a href="{{ url_for('profile') }}">My Account</a>
            {% else %}
              <a href="/templates/login.html">Login/Register</a>
            {% endif %}
            <a href="{{ url_for('leaderboard')}}">Leaderboard</a>
            <a href="#about">About</a>
          </div>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </nav>
    <div class="container">
        <h1>Score Board</h1>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td>Treasures Found:</td>
                <td>{{ treasure }}</td>
            </tr>
            <tr>
                <td>Deadend Reached:</td>
                <td>{{ deadend }}</td>
            </tr>
            <tr>
                {% if treasure%}
                    <td>Accuracy:</td>
                    <td>{{((treasure-deadend)/treasure)*100}}%</td>
                {% else %}
                    <td>Accuracy:</td>
                    <td>0%</td>
                {% endif %}
            </tr>
            <tr>
                <td>Time Taken:</td>
                <td>{{ total_time }} seconds</td>
            </tr>
        </table>
        <a href="{{ url_for('themes') }}" class="btn">Play Again</a>
    </div>
  <script src="/static/script.js"></script>
</body>
</html>
